$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);
$radius: 0.5rem;
@mixin responsive($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin border($color: #000) {
  border: 1px solid $color;
  border-radius: $radius;
}
