// Import global styles
@import 'reset';
@import 'colors';
@import 'layout';
@import 'mixin';
@import 'navigation';

// Pages
@import 'pages';
@import 'pages/home';
@import 'pages/work';

//breakpoints

:root {
  font-family: 'suitFont', 'suitFont Fallback', system-ui, Helvetica, Arial,
    sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
